streamlit
pandas
sqlalchemy
streamlit-aggrid
gspread
gspread-formatting
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
xlsxwriter
psycopg2-binary
python-dotenv
streamlit-cookies-manager
alembic
